html, body, .container{
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(white, rgb(3, 66, 3));
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    position: absolute;
    width: 400px;
    height: 400px;
    border: #fff solid 8px;
    border-radius: 100%;
}

.clock::after{
    position: absolute;
    content: '';
    background: #000;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateX(-50%);
    border-radius:50% ;
}

.hand{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 400px;
}


